<div class="container mt-5">
  <h2>Produit List</h2>
  <table class="table table-striped table-bordered">
    <!-- Table headers -->
    <thead>
      <tr>
        <th>Ref</th>
        <th>Libellé</th>
        <th>Unité</th>
        <th>Description</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr *ngFor="let produit of produits">
        <td>{{ produit.produitreference }}</td>
        <td>{{ produit.produitlibelle }}</td>
        <td>{{ produit.unitelibelle }}</td>
        <td>{{ produit.produitdescription }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Button to navigate to ProduitFormComponent for adding a new produit -->
  <button routerLink="/produits/add" class="btn btn-primary">Add Produit</button>
</div>
